.outer{
    margin-left:200px;
    display:flex;
    align-items: center;
    
}

.folderdiv{
    margin-bottom:80px;
}

.buttondiv{
    width:50%
}



.tags{
    display:flex
}
#tagstext{
    width:500px;
    height:100px;
    
    }


#folder {
    margin-bottom:15px
}

#downloadbutton{
    visibility: hidden;
}

#sendtosheet {
    margin-top:5px
}

#sheetlink {
    width:500px;
    height:20px;
    margin-top:20px
}